
<section class="background section">
  <article class="media">
    <div class="media-content">
      <div class="content has-text-centered">
        <p>
          <strong class="is-size-1" style="font-family: cursive; color: #fff; text-shadow:1px 1px 0 #f00,-1px 1px 0 #f00,1px -1px 0 #f00,-1px -1px 0 #f00;">Cupmen log</strong>
        </p>
      </div>
      <div class="columns is-centered">
        <div class="column is-5">
          <br>
          <%= link_to "ラーメンをみる", foods_path, class: "button is-danger is-fullwidth" %>
          <br>
          <% if user_signed_in? %>
            <%= link_to destroy_user_session_path, method: :delete, class: "button is-fullwidth" do %>
              ログアウト
            <% end %>
          <% else %>
            <%= link_to "ログイン", new_user_session_path, class: "button is-fullwidth" %>
            <%= link_to "新規登録", new_user_registration_path, class: "button is-fullwidth" %>
          <% end %>
        </div>
      </div>
    </div>
  </article>
</section>
<section class="section">
  <article class="media">
    <div class="media-content">
      <div class="content has-text-centered">
        <h3 class="title is-3">cupmen logとは</h3>
        <h5 class="title is-5">スーパーやコンビニで売られているカップラーメンの評価をみんなでつけて行こう</h5>
        <h5 class="title is-5">というアプリになっています。</h5>
        <h5 class="title is-5">定番のラーメンから新作のラーメンまで素直な評価が一覧で見れます。</h5>
        <h5 class="title is-5">また、ラーメンには色々な楽しみ方があります。</h5>
        <h5 class="title is-5">ログインをしていただくとみんなが発明したラーメンのアレンジレシピを見たり、投稿ができるようになります。</h5>
      </div>
    </div>
  </article>
</section>
