/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bulma";

 body {
  min-height: 100vh;
  color: black;
  background-color: #F4F5F7;
  font-family: sans-serif;
}

.notification:not(:last-child){
  margin-bottom: 0;
}

a {
  color: black;
  text-decoration: none;
}

.header {
  background-color: #FF3300;
  height: 10px;
}

.footer {

  right: 0;
  bottom: 0;
  left: 0;
  /* 必要に応じてz-indexプロパティを指定します。 */
  /* z-index: 99999; */
}

// .gradient-custom-3 {
// /* fallback for old browsers */
// background: #84fab0;
//
// /* Chrome 10-25, Safari 5.1-6 */
// background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
//
// /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
// background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
// }
// .gradient-custom-4 {
// /* fallback for old browsers */
// background: #84fab0;
//
// /* Chrome 10-25, Safari 5.1-6 */
// background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
//
// /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
// background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
// }
