// Place all the styles related to the foods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.food_image img {
  width: 150px;
}

.star-rating {
  position: relative;
  width: 5em;
  height: 1em;
  font-size: 25px;
}

.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #FFCC33;
}

.star-rating-back {
  color: #CCCCCC;
}

// .average-score {
//   display: flex;
// }

.average-score-display {
  font-size: 16px;
}

.like{
  color:#1da1f2;
  font-size: 30px;
}
